.catprod-container {
  display: flex;
}
.category-products {
  overflow: scroll;
  height: 90vh;
  padding: 4em 4em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  gap: 1.5em;
  transition: all 0.5s ease-in;
}

@media screen and (max-width: 900px) {
  .category-products {
    padding: 4em 1em;
    gap: 2em;
  }
}
