.categories-cells {
  padding: 3em;
}
.categories-cells .categories-cells-cats {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  padding-top: 1em;
}

.categories-cells .categories-cells-title {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
