.product-pline {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 230px;
  cursor: pointer;
  position: relative;
  color: var(--black);
  text-decoration: none;
  /* border: solid 1px var(--light-gray); */
  box-shadow: 0px 1px 4px rgb(0, 0, 0, 0.2);
  border-radius: 5px;
}

.product-pline .img-container {
  height: 150px;
  overflow: hidden;
  padding: 1em;
  border-radius: 5px;
}

.product-pline img {
  width: 100%;
  transition: all 0.5s ease-in;
}
.product-pline:hover img {
  scale: 110%;
}
.product-pline .product-title {
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 18px;
}
.product-pline .product-price {
  font-size: 13px;
  font-weight: 500;
}
.product-pline .product-rating {
  font-size: 13px;
  font-weight: 400;
}

.product-pline-info {
  align-self: flex-start;
  text-align: left;
  line-height: 30px;
  padding: 1em;
}

.product-pline-discount-percentage {
  background-color: #ff3333;
  color: var(--white);
  font-weight: 500;
  font-size: 11px;

  position: absolute;
  z-index: 9;
  top: -1em;
  right: -1.5em;
  padding: 0.5em;

  border-radius: 50px;
  width: 3em;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}
