@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --font: "Montserrat", sans-serif;
  --white: #ffff;
  --black: #474947;
  --blue: #304151;
  --light-blue: #8ea0b480;
  /* --pink: #f5d3ca; */
  --v-gray: rgba(211, 211, 211, 0.178);
  --light-gray: #d9d9d9;
  --gray: #b3b1b1;
  --dark-gray: #a8a6a6;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
  color: var(--black);
}

button,
a {
  cursor: pointer;
}

/* Style the select element */
select {
  color: var(--black);
  appearance: none;
  padding: 10px;
  font-size: 14px;
  border: 1px solid var(--light-gray);
  border-radius: 4px;
  background-color: var(--white);
  cursor: pointer;
  outline: none;
 }

select:focus {
  border-color: var(--light-gray);
  box-shadow: 0 0 5px var(--light-gray);
}

select option {
  padding: 10px;
  font-size: 14px;
  background-color: var(--white);
  color: var(--black);
}

select option:hover {
  background-color: var(--light-gray) !important;
  color: var(--white);
}
