.products-header {
  position: sticky;
  width: max-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--v-gray);
  padding: 1.5em;
}

.products-header .prodnum {
  font-weight: 500;
  font-size: 13px;
}
.products-header .search {
  position: relative;
}
.products-header .search .input-icon {
  position: absolute;
  top: 0.1em;
  left: 0.15em;
  color: var(--light-gray);
}
.products-header .search-input {
  color: var(--black);
  padding: 0.4em;
  font-size: 14px;
  border: 1px solid var(--light-gray);
  border-radius: 4px;
  background-color: var(--white);
  outline: none;
  padding-left: 2em;
  max-width: 150px;
}

.products-header .search-input:focus {
  border: 1px solid var(--v-gray);
  box-shadow: 0 0 5px var(--light-gray);
}
.products-header .search-input::placeholder {
  font-weight: 500;
  color: var(--light-gray);
}

.products-header .params-list {
  display: flex;
  flex-direction: column;
  gap: 1em;
  font-size: 12px;
  text-transform: capitalize;
  list-style: none;
  padding: 2em 1.5em;
}

.products-header .params-list .li-cats {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.products-header .params-list .li-cat {
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.products-header .params-list .li-cat:hover {
  text-decoration: underline;
}
.products-header .params-list .li-sizes {
  display: flex;
  gap: 0.5em;
}
.products-header .params-list .li-size {
  border: solid 1px var(--v-gray);
  text-align: center;
  width: 20px;
  padding: 0.3em 0.1em;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.products-header .params-list .li-size:hover {
  border: solid 1px var(--gray);
}
.products-header .params-list .li-cols {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}

.products-header .params-list .li-col {
  height: 15px;
  width: 15px;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  opacity: 0.8;
}
.products-header .params-list .li-col:hover,
.products-header .params-list .li-col:focus,
.products-header .params-list .li-col:active {
  opacity: 1;
}

.params-list-title {
  font-size: 15px;
  font-weight: 500;
}
