.login-page {
  display: flex;
  align-items: center;
  gap: 1em;

  padding: 1em 15%;
  position: relative;

  min-height: 100vh;
}

.login-page .bg-img {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  min-height: 100%;
  width: 60%;
  object-fit: cover;
  transition: all 0.5s ease-in-out;
  background-image: url("./../assets/bg.jpg");
  background-size: cover;
}

.login-page .login-statements {
  padding: 2em 0;
  align-self: flex-end;
  text-align: left;
  transition: all 0.5s ease-in-out;
}

.login-page .login-statements .head-st {
  color: var(--white);
  font-size: 25px;
  font-weight: 500;
}

.login-page .login-statements .sec-st {
  color: var(--white);
  font-size: 15px;
  font-weight: 400;
}

@media screen and (max-width: 900px) {
  .login-page {
    justify-content: center;
  }
  .login-page .bg-img {
    width: 100%;
    filter: blur(2px);
  }

  .login-page .login-statements {
    display: none;
  }
}
