.product {
  display: flex;
  flex-direction: column;
}
/* _____________________ */
.product .product-info {
  display: flex;
  border: 1px solid #ccc;
  /* height: 80vh; */
}
/* _____________________ */
.product .product-info .product-aside {
  min-width: 80px;
  width: 80px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
  padding: 0.5em;

  border: 1px solid #ccc;
}
.product .product-info .product-aside .aside-image {
  overflow: hidden;
  position: relative;
  border: 1px solid #ccc;
  width: 70px;
  height: 70px;
}
.product .product-info .product-aside .aside-image img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  transition: all 0.5s ease-in;
}
.product .product-info .product-aside .aside-image img:hover {
  scale: 1.2;
}
/* _____________________ */
.product .product-info .product-info-container {
  overflow: hidden;
  display: flex;
}

.product .product-info .product-info-container .product-image {
  padding: 1em;
  flex: 1;
  overflow: hidden;
  height: 80vh;
}
.product .product-info .product-info-container .product-image img {
  object-fit: cover;
  width: 100%;
  height: 80vh;
}
.product .product-info .product-info-container .product-details-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 1.5em;
}

.product
  .product-info
  .product-info-container
  .product-details-container
  .product-details {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.product
  .product-info
  .product-info-container
  .product-details-container
  .product-details
  .product-title {
  font-size: 25px;
  font-weight: 600;
}

.product
  .product-info
  .product-info-container
  .product-details-container
  .product-details
  .product-description {
  font-size: 15px;
  font-weight: 500;
}

.product
  .product-info
  .product-info-container
  .product-details-container
  .product-details
  .product-price {
  display: flex;
  gap: 1em;
}
.product
  .product-info
  .product-info-container
  .product-details-container
  .product-details
  .product-price
  .product-price-bd {
  text-decoration: line-through;
  color: var(--v-dark-gray);
}
.product
  .product-info
  .product-info-container
  .product-details-container
  .product-details
  .product-price
  .product-price-ad {
  font-weight: 600;
}

.product
  .product-info
  .product-info-container
  .product-details-container
  .product-details
  .product-colors {
}

.product
  .product-info
  .product-info-container
  .product-details-container
  .product-details
  .product-sizes {
}

.product
  .product-info
  .product-info-container
  .product-details-container
  .product-buttons {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.product
  .product-info
  .product-info-container
  .product-details-container
  .product-buttons
  button {
  border: solid 1px var(--gray);
  border-radius: 3px;
  padding: 0.8em;
}

.product .product-comments {
  border: 1px solid #ccc;
}

.product .product-comments .product-comment {
}

@media screen and (max-width: 800px) {
  .product .product-info .product-info-container {
    flex-direction: column;
  }
  .product .product-info .product-info-container .product-image {
    /* border: solid 1px red; */
    flex: 2;
    height: 60vh;
  }

  .product .product-info .product-info-container .product-image img {
    height: 60vh;
  }
}
