.product {
  display: flex;
  flex-direction: column;
}
/* _____________________ */
.product .product-info {
  display: flex;
  height: 100vh;
}
.product .product-info .product-info-container {
  overflow: hidden;
  display: flex;
  width: 100%;
}

.product .product-info .product-info-container .product-image {
  padding: 1em;
  flex: 1;
  overflow: hidden;
  height: 100%;
  border: solid 1px var(--v-gray);
}
.product .product-info .product-info-container .product-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.product .product-info .product-info-container .product-details-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2em;
  padding: 1.5em;
}

.product
  .product-info
  .product-info-container
  .product-details-container
  .quantity-container {
  display: flex;
  align-items: center;
  gap: 0.5em;
  margin: 1em 0;
}

.product
  .product-info
  .product-info-container
  .product-details-container
  .quantity-container
  button {
  border-radius: 5px;
  opacity: 0.5;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  border: solid 1px var(--gray);
  background-color: var(--white);
  padding: 0.3em 0.5em;
  display: flex;
  align-items: center;
}
.product
  .product-info
  .product-info-container
  .product-details-container
  .quantity-container
  button:hover {
  opacity: 1;
}
.product
  .product-info
  .product-info-container
  .product-details-container
  .quantity-container
  span {
  font-size: 15px;
  font-weight: 600;
}

.product .product-comments {
  border: 1px solid #ccc;
}

.special-btn {
  background-color: var(--blue) !important;
  opacity: 1;

  color: var(--white) !important;
}
.special-btn:hover {
  opacity: 0.9;
  background-color: var(--blue) !important;
  color: var(--white) !important;
}
.special-btn .icon-btn {
  color: var(--white) !important;
}
.product .product-comments .product-comment {
}

@media screen and (max-width: 800px) {
  .product .product-info .product-info-container {
    flex-direction: column;
  }
  .product .product-info .product-info-container .product-image {
     flex: 2;
    height: 50vh;
  }

  .product .product-info .product-info-container .product-image img {
    height: 50vh;
  }

  .product .product-info {
    display: flex;
    height: auto;
  }
}
