.form {
  background-color: var(--white);
  /* border: solid 1px var(--light-gray); */
  border-radius: 10px;
  padding: 2em;
  width: 500px;
  min-width: 400px;
  max-width: 400px;

  margin-left: 10%;
  gap: 1em;
}
.form-btn {
  outline: none;
  border: solid 1px var(--light-gray);
  border-radius: 5px;

  padding: 0.7em;
  font-size: 13px;
  font-weight: 500;
}

.form .form-logo {
  font-size: 12px;
  font-weight: 500;
  text-align: left;
  margin-bottom: 3em;
}
.form .form-title {
  font-size: 40px;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
}
