.cart {
  padding: 1em 4em;
}
.cart .cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart .cart-header .cart-title {
}
.cart .cart-header .continue-shopping {
  background-color: var(--white);
  border: solid 1px var(--light-gray);
  border-radius: 5px;
  padding: 3px 8px;
  display: flex;
  align-items: center;
  gap: 1em;
  font-size: 13px;
  color: var(--v-dark-gray);
}
