.cart {
  padding: 1em 4em;
}
.cart .cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart .cart-header .cart-title {
  color: var(--blue);
  font-weight: 700;
}
.cart .cart-header .continue-shopping {
  background-color: var(--white);
  border: solid 1px var(--light-gray);
  border-radius: 5px;
  padding: 3px 8px;
  display: flex;
  align-items: center;
  gap: 1em;
  font-size: 13px;
  color: var(--v-dark-gray);
}

.empty-cart {
  height: 350px;

  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 13px;

  background-color: #f7f4f4;
}

@media screen and (max-width: 600px) {
  .cart {
    padding: 1em 2em;
  }
  .cart .cart-header .cart-title {
    font-size: 25px;
  }
  .cart .cart-header .continue-shopping {
    font-size: 11px;
  }
}
