.products-line {
  margin: 4em 2em;
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.products-line-body {
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  gap: 1em;
}

@media screen and (max-width: 900px) {
  .products-line {
    margin: 4em 2em;
  }
  .products-line-body {
    padding: 1em 0;
  }
}
